.dropbtn {
  background-color: #00A65A;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  width: 150px;
  border: 2px solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 33.3%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.form_loc{
  color: black;
}

.label_modal{
  font-size: 1.5rem
}

.label_radio{
  font-weight: 100;
}
